<h2><%= @memo['title'] %></h2>
<% @memo['body'].to_s.split("\r\n").each do |str| %>
  <p><%= str %></p>
<% end %>
<form method='POST' action='/memos/<%= @index %>'>
  <input type='hidden' name='_method' value='delete' />
  <button>削除</button>
</form>
