<form method='post' action='/memos/new'>
  <input
    type='text'
    name='title'
    placeholder='タイトルを入力して下さい'
    autofocus
    required
  >
  <textarea
    name='body'
    placeholder='本文を入力して下さい'
  ></textarea>
  <button type='submit'>作成</button>
</form>
