<% unless @titles.size == 0 %>
  <ul>
    <% @titles.each_with_index do |title, index| %>
      <li>
        <a href='/memos/<%= index %>'><%= title %></a>
      </li>
    <% end %>
  </ul>
<% end %>
<a href="/memos/new"><button>追加</button></a>
